.container {
  position: relative;
  height: 50px;
} 

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  // border: 1px solid green
}
.loader__dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: absolute;

}
  .loader__dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.4s; }
  .loader__dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.3s; 
}
  .loader__dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.2s; 
}
  .loader__dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.1s; 
}
  .loader__dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0s;
}
  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto; }
    .loader--text:after {
      content: "Loading";
      font-weight: bold;
      animation-name: loading-text;
      animation-duration: 3s;
      animation-iteration-count: infinite; }

@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(230px); }
  65% {
    transform: translateX(230px); }
  95% {
    transform: translateX(0); } }

@keyframes loading-text {
  0% {
    content: "Loading"; }
  25% {
    content: "Loading."; }
  50% {
    content: "Loading.."; }
  75% {
    content: "Loading..."; } }


.secondLoader {
  width: 25px;
  height: 25px;
  border: 5px solid var(--spinner-bg);
  border-bottom-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 
