@use './globalBreakPoints.scss' as *;
@use "./globalFunctions.scss" as *;
@use "./globalTypography.scss" as typography;
@use "./fonts.scss";
:root {
    --main-bg: #ffffff;
    --second-bg: #F7F6E7;
    // --second-bg: #fafafb;
    --dark-text-color:  #1212bc; 
    --txt-color: #455560;
    --txt-white: #fff;
    --txt-placeholder: #ccc;
    --main-color: #349eff;
    --second-color: #d1e8fa;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --button-text-bg: rgba(0, 0, 0, 0.8);
    --cart-checked-bg: #ffffff;
    --icon-black-active: #fff;
    --icon-color: #fff;
    --icon-color-light: #fff;
    --icon-color-dark: rgba(0, 0, 0, 0.8);
    --button-text-hover: rgba(0, 0, 0, 0.03);
    // --button-text-hover: rgba(221, 22, 22, 0.03);
    --main-bg-light: #ffffff;
    --second-bg-light: #F7F6E7;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --txt-placeholder-light: #ccc;
    --button-text-bg-light: rgba(0, 0, 0, 0.05);
    --cart-checked-bg-light: #ffffffd4;
    --icon-black-active-light: #fff;

    --button-text-hover-light: rgba(0, 0, 0, 0.05);
    --main-bg-dark: #1b2430;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    --txt-placeholder-dark: rgb(83, 83, 83);
    --button-text-bg-dark: rgba(255, 255, 255, 0.05);
    --cart-checked-bg-dark: #2e313c;
    --icon-black-active-dark: #455560;
    --button-text-hover-dark: rgba(255, 255, 255, 0.05);
    --scroll-color: rgb(235, 232, 232);
    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;
    --main-color-red: #EB1D36;
    --second-color-red: #ff4a6b;
    --main-color-cyan: #6a1ada;
    --second-color-cyan:  #9b65de;
    --main-color-green: #019707;
    --second-color-green: #4caf50;
    --main-color-orange: #FF5733;
    --second-color-orange: #FF4C29;
    // --main-color-pink: #764abc;
    // --second-color-pink: #7e63a8;
    --sidebar-width: 350px;
    --border-radius: 15px;
    --border-radius-sm: 8px;
    --topnav-height: 70px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --button-text-active: rgba(0, 0, 0, 0.05);  //    rgba(0, 0, 0, 0.88)   
    --trash-icon-bg: rgba(0, 0, 0, 0.88)  

    --input-color: #ffffff;
    --input-color-light: #ffffff;
    --input-color-dark: rgba(0, 0, 0, 0.872);
}

// * {
//    padding: 0;
//    margin: 0;
//    box-sizing: border-box;
//    -webkit-tap-highlight-color: transparent;
// }
body {
    font-family: "Panton", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
    scroll-behavior: smooth;

    overflow-y: overlay;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        right: 5px;
        border-radius: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // background-color: var(--main-color);
    }
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

.modal-opened {
    overflow: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: white
}

@media screen and (min-width: $tablet) {
    .dMdBlock {
        display: block;
    }
    .dMdNone {
        display: none;
    }
}

@media screen and (max-width: $tablet) {
    .dSmNone {
        display: none;
    }
    .dSmBlock {
        display: block;
    }
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}

.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

$columns: 12;
$gap: 30px;
$breakpoints: ( xs: 480px, sm: 768px, md: 960px, lg: 1170px, xl: 1280px);
@mixin create-selectors($breakpoint: null) {
    $infix: if($breakpoint==null, '', '-#{$breakpoint}');
    @for $i from 1 through $columns {
        .col#{$infix}-#{$i} {
            grid-column-end: span $i;
        }
        .col-offset#{$infix}-#{$i} {
            grid-column-start: $i + 1;
        }
        .row#{$infix}-#{$i} {
            grid-row-end: span $i;
        }
        .row-offset#{$infix}-#{$i} {
            grid-row-start: $i + 1;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
    gap: $gap;
}

@include create-selectors;
@each $breakpoint,
$width in $breakpoints {
    @media (min-width: $width) {
        @include create-selectors($breakpoint);
    }
}
