$tvDesktop: 1700px;
$bigDesktop: 1680px;
$mdDesktop: 1491px;
$minMdDesktop: 1410px; 
$desktop: 1280px;
$minDesktop: 1024px;
$lgTablet: 906px;
$tablet: 768px;
$minTablet: 620px;
$mobile: 600px;
$minMobile: 537px;
$xxSmMobile: 490px;
$xxxSmMobile: 435px;


$sidebarWidth: 309px;
$sidebarWidthClose: 119px;
$sidebarWidthCloseMin: 65px;

$sidebarSubMenuWidth: 190px;
$sidebarSubMenuWidthClose: 0;