@use '../../../styles/globalTypography.scss' as Typo;
@use '../../../styles/globalBreakPoints.scss' as *; 
.firmsModal {
    max-width: 550px;
    @media screen and (max-width: $minTablet) {
        max-width: 450px;
    }
}

.wrapper {
    padding: 4px
}

.header {
    width: 550px;
    font-size: 24px;
    font-family: 'Panton';
    text-align: center;
    color: var(--txt-color);
}

.item {
    display: flex;
    gap: 2px;
    color: var(--txt-color);
    .radio {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 140px;
        .status {
            color: var(--main-color-red);
            span {
                font-weight: Typo.$fontWeightBold;
            }
        }
        .connected {
            color: var(--main-color-green)
        }

    }
    .contents {
        width: 100%;
        padding: 4px;
        .upper {
            display: flex;
            justify-content: space-between;
            padding: 6px;
            @media screen and (max-width: $minTablet) {
                flex-direction: column;
                gap: 5px;
            }

            .firm_tels {
                display: flex;
                align-items: center;
                font-size: Typo.$fontSizeMedium+px;
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            padding: 6px;
            @media screen and (max-width: $minTablet) {
                flex-direction: column;
                gap: 5px;
            }
            .connectedAt {
                color: var(--main-color-green)
            }
            .notConnected {
                color: var(--main-color-red);
            }
        }

    }
}

.borderBottom {
    border-bottom: 1.5px solid var(--txt-color-dark);
}

.fontWeightify {
    font-weight: Typo.$fontWeightBold;
}

.action {
    display: flex;
    justify-content: center;
    button {
        width: 100px;
        display: flex;
        justify-content: center;
    }
    // width: 100px;
    // // text-align: center;
    // // display: flex;
    // // justify-content: center;
}

.noFirm {
    text-align: center;
    color: var(--txt-color)
}